@import url(styles/header.css);
@import url(styles/banner.css);
@import url(styles/carrossel.css);
@import url(styles/topicos.css);
@import url(styles/contato.css);
@import url(styles/footer.css);

:root {
    --cor-fundo:#EBECEE;
    --branco: #FFFFFF;
    --titulo: #EB9800;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --fonte-principal: "Poppins";
    --azul: #002F52;
    --fonte-secundaria: "Josefin Sans";
    --preto: #000000;
    --cinza: rgba(133, 133, 133, 1);
}
body {
    background-color: var(--cor-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
